#front-page {
  display: flex;
  flex-direction: column;
}
#upper-band {
  background-color: #ffdecb;
  height: 30px;
}
#text {
  display: flex;
  justify-content: start;
}
#iqon {
  display: flex;
  justify-content: end;
}

#band-filters {
  background-color: #ffbf9b;
  height: 30px;
}

.image {
  width: 100%;
}
.card {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: #f9f5eb;
}
#allIqons {
  display: flex;
  flex-direction: row;
  background-color: #ffbf9b;
}
.title {
  background-color: #ffbf9b;
}
#products-display {
  background-color: #f5ebeb;
}
